<html>
<head>
<link href="vendor.1.css" rel="stylesheet"><link href="main.e4b97184f739a498a7a1.css" rel="stylesheet"></head>
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<div id="page-wrapper" ng-class="{
    open: toggle &amp;&amp; ['portainer.auth', 'portainer.updatePassword', 'portainer.init.admin', 'portainer.init.endpoint'].indexOf($state.current.name) === -1,
    nopadding: ['portainer.auth', 'portainer.updatePassword', 'portainer.init.admin', 'portainer.init.endpoint'].indexOf($state.current.name) > -1 || applicationState.loading
  }" class="">
    
</div>
<!-- End Sidebar -->
</div><!-- end ngIf: !applicationState.loading -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- ngIf: applicationState.loading -->

        <!-- Main Content -->
        <!-- ngIf: !applicationState.loading --><!-- uiView: content --><div id="view" ui-view="content" ng-if="!applicationState.loading" class="ng-scope"><rd-header class="ng-scope ng-isolate-scope"><div class="row header"><div id="loadingbar-placeholder"></div><div class="col-xs-12"><div class="meta" ng-transclude="">
  <rd-header-title title-text="About" class="ng-scope ng-isolate-scope"><div class="page white-space-normal ng-binding">About<span class="header_title_content" ng-transclude="">
  </span><!-- ngIf: username --><span class="pull-right user-box ng-binding ng-scope" ng-if="username"><i class="fa fa-user-circle" aria-hidden="true"></i> admin</span><!-- end ngIf: username --><a ui-sref="portainer.support" class="pull-right" style="font-size:14px;margin-right:15px;margin-top:2px;" href="#/support"><span class="fa fa-life-ring fa-fw red-icon"></span>  Portainer support</a></div></rd-header-title>
  <rd-header-content class="ng-scope"><div class="breadcrumb-links"><div class="pull-left" ng-transclude=""><span class="ng-scope">
    About Portainer
  </span></div><!-- ngIf: username --><div class="pull-right ng-scope" ng-if="username"><a ui-sref="portainer.account" style="margin-right: 5px;" href="#/account"><u><i class="fa fa-wrench" aria-hidden="true"></i> my account </u></a><a ui-sref="portainer.auth({logout: true})" class="text-danger" style="margin-right: 25px;" href="#/auth"><u><i class="fa fa-sign-out-alt" aria-hidden="true"></i> log out</u></a></div><!-- end ngIf: username --></div></rd-header-content>
</div></div></div></rd-header>

<div class="row ng-scope">
  <div class="col-sm-12">
    <rd-widget class="ng-isolate-scope"><div class="widget" ng-transclude="">
      <rd-widget-body class="ng-scope ng-isolate-scope"><div class="widget-body" ng-class="classes"><rd-loading ng-show="loading" class="ng-hide"><div class="loading"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></rd-loading><div ng-hide="loading" class="widget-content" ng-transclude="">
        <b class="ng-scope">Portainer</b><span class="ng-scope"> is a </span><a href="https://github.com/portainer/portainer/blob/develop/LICENSE" target="_blank" class="ng-scope">free and open-source software</a><span class="ng-scope"> brought to you with </span><span class="menu-icon fa fa-heart red-icon ng-scope"></span><span class="ng-scope"> by </span><a href="https://portainer.io/" target="_blank" class="ng-scope">portainer.io</a><span class="ng-scope"> and </span><a href="https://github.com/portainer/portainer/graphs/contributors" target="_blank" class="ng-scope">contributors.</a>
      </div></div></rd-widget-body>
    </div></rd-widget>
  </div>
</div>

<div class="row ng-scope">
  <div class="col-sm-12">
    <rd-widget class="ng-isolate-scope"><div class="widget" ng-transclude="">
      <rd-widget-header title-text="Analytics in Portainer" icon="fas fa-project-diagram" class="ng-scope ng-isolate-scope"><div class="widget-header"><div class="row"><span ng-class="classes" class="pull-left ng-binding"><i class="fa fas fa-project-diagram" ng-class="icon"></i> Analytics in Portainer </span><span ng-class="classes" class="pull-right" ng-transclude=""></span></div></div></rd-widget-header>
      <rd-widget-body class="ng-scope ng-isolate-scope"><div class="widget-body" ng-class="classes"><rd-loading ng-show="loading" class="ng-hide"><div class="loading"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></rd-loading><div ng-hide="loading" class="widget-content" ng-transclude="">
      <div class="small ng-scope" style="line-height:1.65;">
        <p>
          We at Portainer provide our software free and open source. To understand where best to spend our very limited development budget, we use <b>rudimentary</b> analytics.
        </p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Opt-out</u>
          </p><ul>
            <li>You may opt-out by passing the <em>--no-analytics</em> flag as part of the docker run command when starting Portainer.</li>
            <li>If you believe that we could improve our analytics approach make sure to let us know! There is an open discussion on <a target="_blank" href="https://github.com/portainer/portainer/issues/3310"><i class="fab fa-github" aria-hidden="true"></i> Github</a></li>
          </ul>
        <p></p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>What we collect &amp; GDPR</u>
          </p><ul>
            <li>We dont know who uses Portainer, where its used, to what scale its used, all we know (from analytics) is how often Portainer is used and which pages within the app are most frequently used.</li>
            <li>As we are only collecting a very small amount of totally anonymous data, it is deemed that opt-in is not required.</li>
          </ul>
        <p></p>
      </div>
      </div></div></rd-widget-body>
    </div></rd-widget>
  </div>
</div>

<div class="row ng-scope">
  <div class="col-sm-12">
    <rd-widget class="ng-isolate-scope"><div class="widget" ng-transclude="">
      <rd-widget-header title-text="Help support portainer" icon="fa-heartbeat" class="ng-scope ng-isolate-scope"><div class="widget-header"><div class="row"><span ng-class="classes" class="pull-left ng-binding"><i class="fa fa-heartbeat" ng-class="icon"></i> Help support portainer </span><span ng-class="classes" class="pull-right" ng-transclude=""></span></div></div></rd-widget-header>
      <rd-widget-body class="ng-scope ng-isolate-scope"><div class="widget-body" ng-class="classes"><rd-loading ng-show="loading" class="ng-hide"><div class="loading"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></rd-loading><div ng-hide="loading" class="widget-content" ng-transclude="">
      <div class="small ng-scope" style="line-height:1.65;">
        <p>
          It is a community effort to make <b>Portainer</b> as feature-rich as simple it is to deploy and use. We need all the help we can get!
        </p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Contribute</u>
          </p><ul>
            <li>Found a bug or got a feature idea? Let's talk about it on <a href="https://github.com/portainer/portainer/issues" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Github</a></li>
            <li>Follow our <a href="https://portainer.readthedocs.io/en/latest/contribute.html" target="_blank">contribution guidelines</a> to build it locally and make a <a target="_blank" href="https://github.com/portainer/portainer/compare"><i class="fab fa-github" aria-hidden="true"></i> pull request</a></li>
          </ul>
        <p></p>
        <p>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Spread the word</u>
          </p><ul>
            <li>Talk to your friends and colleagues about how awesome Portainer is!</li>
            <li>Follow us on <a href="https://twitter.com/portainerio" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a></li>
          </ul>
        <p></p>
      </div>
      </div></div></rd-widget-body>
    </div></rd-widget>
  </div>
</div>

<div class="row ng-scope">
  <div class="col-sm-12">
    <rd-widget class="ng-isolate-scope"><div class="widget" ng-transclude="">
      <rd-widget-header title-text="Support and services" icon="fa-building" class="ng-scope ng-isolate-scope"><div class="widget-header"><div class="row"><span ng-class="classes" class="pull-left ng-binding"><i class="fa fa-building" ng-class="icon"></i> Support and services </span><span ng-class="classes" class="pull-right" ng-transclude=""></span></div></div></rd-widget-header>
      <rd-widget-body class="ng-scope ng-isolate-scope"><div class="widget-body" ng-class="classes"><rd-loading ng-show="loading" class="ng-hide"><div class="loading"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></rd-loading><div ng-hide="loading" class="widget-content" ng-transclude="">
        <div class="small ng-scope" style="line-height:1.65;">
          <p>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Documentation</u>
            </p><ul>
              <li>Checkout our <a target="_blank" href="http://portainer.readthedocs.io"><i class="fa fa-book" aria-hidden="true"></i> online documentation</a></li>
              <li>Be sure to have a look at our <a href="https://portainer.readthedocs.io/en/latest/faq.html" target="_blank">FAQ</a> and our list of <a href="https://github.com/portainer/portainer/issues" target="_blank">open issues</a></li>
            </ul>
          <p></p>
          <p>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Community support</u>
            </p><ul>
              <li>Join us on <a href="https://portainer.io/slack/" target="_blank"><i class="fab fa-slack" aria-hidden="true"></i> Slack</a></li>
              <li>We're also on <a href="https://gitter.im/portainer/Lobby" target="_blank"><i class="fab fa-github-alt" aria-hidden="true"></i> Gitter</a></li>
            </ul>
          <p></p>
          <p>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Services</u>
            </p><ul>
              <li>Find out more about our <a href="https://portainer.io/support.html" target="_blank">consulting and commercial support plans</a></li>
              <li>We also propose a fund-a-feature plan, reach out to us at <a target="_blank" href="mailto:info@portainer.io"><i class="fa fa-envelope" aria-hidden="true"></i> portainer.io</a></li>
            </ul>
          <p></p>
        </div>
      </div></div></rd-widget-body>
    </div></rd-widget>
  </div>
</div>

<div class="row ng-scope">
  <div class="col-sm-12">
    <rd-widget class="ng-isolate-scope"><div class="widget" ng-transclude="">
      <rd-widget-header title-text="Limitations" icon="fa-plug" class="ng-scope ng-isolate-scope"><div class="widget-header"><div class="row"><span ng-class="classes" class="pull-left ng-binding"><i class="fa fa-plug" ng-class="icon"></i> Limitations </span><span ng-class="classes" class="pull-right" ng-transclude=""></span></div></div></rd-widget-header>
      <rd-widget-body class="ng-scope ng-isolate-scope"><div class="widget-body" ng-class="classes"><rd-loading ng-show="loading" class="ng-hide"><div class="loading"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></rd-loading><div ng-hide="loading" class="widget-content" ng-transclude="">
      <div class="small ng-scope">
        Portainer has full support for Docker &gt;=1.10 and partial support for Docker 1.9 (some features may not be available).
      </div>
      </div></div></rd-widget-body>
    </div></rd-widget>
  </div>
</div>
</div><!-- end ngIf: !applicationState.loading -->

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div>
</body>
</html>